* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.calculator {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.display {
    height: 70px;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    overflow-x: auto;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    height: 70px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 2px solid #000000;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background: #cecdcdbb;
    box-shadow: 0 4px 6px rgba(5, 1, 1, 0.397);

}

.btn.operator {
    background-color: orange;
    color: white;
}

.btn.clear {
    background-color: rgb(247, 0, 0);
    color: rgb(255, 255, 255);
}

.equal {
    grid-column: span 4;
    border-radius: 35px;
    background-color: #000000;
    font-size: 2rem;
    color: #ffffff;
}
.equal:hover{
    background-color: #3b3b3b;
    color:#ffffff;
}

/* .btn:hover {
    opacity: 0.8;
} */

.history {
    background-color: #ffffff;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

.history h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

#historyList {
    list-style: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}
